.header-container {
	font-family: Calibri;
	text-align: center;
	vertical-align: middle;
	width: 100%;
	font-size: 200%;
	height: 15%;
	padding: 2.5%;
	display: block;
}

.header-image-container {
	width: 30%;
	display: inline-block;
}

.header-title-container {
	width: 70%;
	display: inline-block;
}

.header-image {
	width: 50%;
	height: 50%;
	display: inline-block;
	transition: width 1s, height 1s;
}

.header-image:hover {
	width: 80%;
	height: 80%;
	display: inline;
	transition: width 1s, height 1s;
}
