body {
	font-family: Calibri;
	//background-color: #ff5050; 
}

/* .show pour le debug d'affichage */

.show {
	background-color : unset;
}

.show:hover {
	background-color : rgb(255, 255, 128);
}

.capital {
	padding-top: 5%;
	font-size : 2em;
	padding-bottom: 5%;
}

.sub-capital {
	margin-top: 5%;
	font-size : 1.3em;
	margin-bottom: 5%;
}

.layer-center {
	display: block;
    margin: auto;
    text-align: center;
    width: 70%;
}

.layer-left {
	display: block;
    margin: auto;
    text-align: left;
    width: 60%;
}

.layer-sign-in {
	display: block;
    margin: auto;
    text-align: left;
    width: 60%;
    background-color : white;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.align {
	vertical-align: center;
}

.fit-width {
	width : 100%;
}

.information {
	font-size : 0.8em;
}

.notifier {
	display: block;
	height : 72px;
	overflow : auto;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.width-80 {
	width : 80%;
}

.button {
	background-color: rgb(64, 224, 64);
	padding: 10px;
	color: white;
	font-weight: bold;
	border-radius: 10px 0px 10px 0px;
	border: none;
	transition: background-color 0.5s;
}

.success {
	margin: 3px;
	background-color: rgb(64, 232, 64);
	color: white;
}

.warning {
	margin: 3px;
	background-color: rgb(255, 200, 64);
	color: white;
}

.error {
	margin: 3xp;
	background-color: rgb(255, 80, 80);
	color: white;
}

.button:hover {
	background-color: rgb(64, 172, 64);
	transition: background-color 0.5s;
}