<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>KasuKasu</display-name>
  <welcome-file-list>
    <welcome-file>portal.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>ConnectionFilter</filter-name>
    <filter-class>filters.ConnectionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ConnectionFilter</filter-name>
    <url-pattern>/restricted/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>CSSFilter</filter-name>
    <filter-class>filters.CSSFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CSSFilter</filter-name>
    <url-pattern>/restricted/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>JSFilter</filter-name>
    <filter-class>filters.JSFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>JSFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>CreateUserServlet</display-name>
    <servlet-name>CreateUserServlet</servlet-name>
    <servlet-class>servlets.CreateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUserServlet</servlet-name>
    <url-pattern>/createuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyUserServlet</display-name>
    <servlet-name>ModifyUserServlet</servlet-name>
    <servlet-class>servlets.ModifyUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyUserServlet</servlet-name>
    <url-pattern>/modify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnectUserServlet</display-name>
    <servlet-name>ConnectUserServlet</servlet-name>
    <servlet-class>servlets.ConnectUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectUserServlet</servlet-name>
    <url-pattern>/connectuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetrievePasswordServlet</display-name>
    <servlet-name>RetrievePasswordServlet</servlet-name>
    <servlet-class>servlets.RetrievePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrievePasswordServlet</servlet-name>
    <url-pattern>/retrievepassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmAccountServlet</display-name>
    <servlet-name>ConfirmAccountServlet</servlet-name>
    <servlet-class>servlets.ConfirmAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmAccountServlet</servlet-name>
    <url-pattern>/confirm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserProfileServlet</display-name>
    <servlet-name>UserProfileServlet</servlet-name>
    <servlet-class>servlets.UserProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProfileServlet</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindUserServlet</display-name>
    <servlet-name>FindUserServlet</servlet-name>
    <servlet-class>servlets.FindUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindUserServlet</servlet-name>
    <url-pattern>/finduser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckConnectionServlet</display-name>
    <servlet-name>CheckConnectionServlet</servlet-name>
    <servlet-class>servlets.CheckConnectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckConnectionServlet</servlet-name>
    <url-pattern>/check-connection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchItemsServlet</display-name>
    <servlet-name>SearchItemsServlet</servlet-name>
    <servlet-class>servlets.SearchItemsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchItemsServlet</servlet-name>
    <url-pattern>/searchitems</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FriendsManagementServlet</display-name>
    <servlet-name>FriendsManagementServlet</servlet-name>
    <servlet-class>servlets.FriendsManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FriendsManagementServlet</servlet-name>
    <url-pattern>/friendsmanagement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FriendsAndRequestServlet</display-name>
    <servlet-name>FriendsAndRequestServlet</servlet-name>
    <servlet-class>servlets.FriendsAndRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FriendsAndRequestServlet</servlet-name>
    <url-pattern>/friendsandrequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImagesServlet</display-name>
    <servlet-name>ImagesServlet</servlet-name>
    <servlet-class>servlets.ImagesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImagesServlet</servlet-name>
    <url-pattern>/imagesservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateGroupServlet</display-name>
    <servlet-name>CreateGroupServlet</servlet-name>
    <servlet-class>servlets.CreateGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateGroupServlet</servlet-name>
    <url-pattern>/creategroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMemberServlet</display-name>
    <servlet-name>AddMemberServlet</servlet-name>
    <servlet-class>servlets.AddMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMemberServlet</servlet-name>
    <url-pattern>/addmember</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserGroupsServlet</display-name>
    <servlet-name>UserGroupsServlet</servlet-name>
    <servlet-class>servlets.UserGroupsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserGroupsServlet</servlet-name>
    <url-pattern>/usergroups</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GroupMembersServlet</display-name>
    <servlet-name>GroupMembersServlet</servlet-name>
    <servlet-class>servlets.GroupMembersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupMembersServlet</servlet-name>
    <url-pattern>/groupmembers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Save an object in the database</description>
    <display-name>CreateObject</display-name>
    <servlet-name>CreateObject</servlet-name>
    <servlet-class>servlets.CreateObject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateObject</servlet-name>
    <url-pattern>/createobject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserItemsServlet</display-name>
    <servlet-name>UserItemsServlet</servlet-name>
    <servlet-class>servlets.UserItemsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserItemsServlet</servlet-name>
    <url-pattern>/useritems</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestItemServlet</display-name>
    <servlet-name>RequestItemServlet</servlet-name>
    <servlet-class>servlets.RequestItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestItemServlet</servlet-name>
    <url-pattern>/requestitem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObjectManagementServlet</display-name>
    <servlet-name>ObjectManagementServlet</servlet-name>
    <servlet-class>servlets.ObjectManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObjectManagementServlet</servlet-name>
    <url-pattern>/objectmanagement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyItemServlet</display-name>
    <servlet-name>ModifyItemServlet</servlet-name>
    <servlet-class>servlets.ModifyItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyItemServlet</servlet-name>
    <url-pattern>/modifyitem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemApplicantsListServlet</display-name>
    <servlet-name>ItemApplicantsListServlet</servlet-name>
    <servlet-class>servlets.ItemApplicantsListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemApplicantsListServlet</servlet-name>
    <url-pattern>/itemapplicantslist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisconnectionServlet</display-name>
    <servlet-name>DisconnectionServlet</servlet-name>
    <servlet-class>servlets.DisconnectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisconnectionServlet</servlet-name>
    <url-pattern>/disconnect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddExchangePointServlet</display-name>
    <servlet-name>AddExchangePointServlet</servlet-name>
    <servlet-class>servlets.AddExchangePointServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddExchangePointServlet</servlet-name>
    <url-pattern>/addexchangepoint</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubscribeToExchangePointServlet</display-name>
    <servlet-name>SubscribeToExchangePointServlet</servlet-name>
    <servlet-class>servlets.SubscribeToExchangePointServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubscribeToExchangePointServlet</servlet-name>
    <url-pattern>/subscribetoexchangepoint</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveItemServlet</display-name>
    <servlet-name>RemoveItemServlet</servlet-name>
    <servlet-class>servlets.RemoveItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveItemServlet</servlet-name>
    <url-pattern>/removeitem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateGroupNameServlet</display-name>
    <servlet-name>UpdateGroupNameServlet</servlet-name>
    <servlet-class>servlets.UpdateGroupNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateGroupNameServlet</servlet-name>
    <url-pattern>/updategroupname</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteGroupServlet</display-name>
    <servlet-name>DeleteGroupServlet</servlet-name>
    <servlet-class>servlets.DeleteGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteGroupServlet</servlet-name>
    <url-pattern>/deletegroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveMemberServlet</display-name>
    <servlet-name>RemoveMemberServlet</servlet-name>
    <servlet-class>servlets.RemoveMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveMemberServlet</servlet-name>
    <url-pattern>/removemember</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AcceptRequestsServlet</display-name>
    <servlet-name>AcceptRequestsServlet</servlet-name>
    <servlet-class>servlets.AcceptRequestsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceptRequestsServlet</servlet-name>
    <url-pattern>/acceptrequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RefuseRequestsServlet</display-name>
    <servlet-name>RefuseRequestsServlet</servlet-name>
    <servlet-class>servlets.RefuseRequestsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RefuseRequestsServlet</servlet-name>
    <url-pattern>/refuserequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplicantRequestsSetvlet</display-name>
    <servlet-name>ApplicantRequestsSetvlet</servlet-name>
    <servlet-class>servlets.ApplicantRequestsSetvlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicantRequestsSetvlet</servlet-name>
    <url-pattern>/applicantrequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateExchangePointServlet</display-name>
    <servlet-name>UpdateExchangePointServlet</servlet-name>
    <servlet-class>servlets.UpdateExchangePointServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateExchangePointServlet</servlet-name>
    <url-pattern>/updateexchangepoint</url-pattern>
  </servlet-mapping>

  
    <servlet>
    <description></description>
    <display-name>ApplicantLoaningServlet</display-name>
    <servlet-name>ApplicantLoaningServlet</servlet-name>
    <servlet-class>servlets.ApplicantLoaningServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicantLoaningServlet</servlet-name>
    <url-pattern>/applicantloaning</url-pattern>
</servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPointServlet</display-name>
    <servlet-name>AddPointServlet</servlet-name>
    <servlet-class>servlets.AddPointServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPointServlet</servlet-name>
    <url-pattern>/AddPoint</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PointsUserList</display-name>
    <servlet-name>PointsUserList</servlet-name>
    <servlet-class>servlets.PointsUserList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PointsUserList</servlet-name>
    <url-pattern>/PointsUserList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetItemServlet</display-name>
    <servlet-name>GetItemServlet</servlet-name>
    <servlet-class>servlets.GetItemServlet</servlet-class>
  </servlet>
    <servlet-mapping>
    <servlet-name>GetItemServlet</servlet-name>
    <url-pattern>/getitem</url-pattern>
  </servlet-mapping>
  <servlet>
  	<description></description>
  	<display-name>PointsUserFriendList</display-name>
  	<servlet-name>PointsUserFriendList</servlet-name>
  	<servlet-class>servlets.PointsUserFriendList</servlet-class>
  </servlet>
    <servlet-mapping>
  	<servlet-name>PointsUserFriendList</servlet-name>
  	<url-pattern>/PointsUserFriendList</url-pattern>
  </servlet-mapping>
  <servlet>
  	<description></description>
  	<display-name>PointUsersName</display-name>
  	<servlet-name>PointUsersName</servlet-name>
  	<servlet-class>servlets.PointUsersName</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PointUsersName</servlet-name>
  	<url-pattern>/PointUsersName</url-pattern>
  </servlet-mapping>
</web-app>