<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>KasuKasu</display-name>
	<welcome-file-list>
		<welcome-file>portal.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<description></description>
		<display-name>CreateUserServlet</display-name>
		<servlet-name>CreateUserServlet</servlet-name>
		<servlet-class>servlets.CreateUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateUserServlet</servlet-name>
		<url-pattern>/createuser</url-pattern>
	</servlet-mapping>

	
	<servlet>
		<description></description>
		<display-name>ModifyUserServlet</display-name>
		<servlet-name>ModifyUserServlet</servlet-name>
		<servlet-class>servlets.ModifyUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModifyUserServlet</servlet-name>
		<url-pattern>/modify</url-pattern>
	</servlet-mapping>

	<servlet>
   		<description></description>
    		<display-name>ConnectUserServlet</display-name>
   		<servlet-name>ConnectUserServlet</servlet-name>
    		<servlet-class>servlets.ConnectUserServlet</servlet-class>
  	</servlet>
 	<servlet-mapping>
    		<servlet-name>ConnectUserServlet</servlet-name>
    		<url-pattern>/connectuser</url-pattern>
  	</servlet-mapping>
  	    <servlet>
    <description></description>
    <display-name>RetrievePasswordServlet</display-name>
    <servlet-name>RetrievePasswordServlet</servlet-name>
    <servlet-class>servlets.RetrievePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrievePasswordServlet</servlet-name>
    <url-pattern>/retrievepassword</url-pattern>
  </servlet-mapping>
	
</web-app>
